<div class="container p2">
	<div class="clearfix">
		<div class="col col-10 left p1 border">
			 <div class="col col-2 m1 py3 center border bg-lighter-gray rounded">Avatar
					 </div>
					 <div class="col col-8 ml2 py1 bg-lightgray mb3">
					 	
					 		<span class="h2">Congrats! You have an interview scheduled</span><br>
					 		<span class="h6"><%= current_user.headline %></span>
					 </div>
					<div class="col col-8 px1 mr1 mb1 justify"><b>You will have a mock interview with <%= @interviewer.interviewer %></b>
					</div>
					<%= @interviewer.appointment_date %>
					<%= @interviewer.appointment_time.to_s(:time) %> 
				    <g:hangout render="createhangout"
				        invites="[
				                  { id : '<%= current_user.email %>', invite_type: 'EMAIL'}]">
				    </g:hangout>
					
		</div>
	</div>
</div>

<div class="container p2">
	<div class="clearfix">
		<div class="col col-10 left p1 border">
			 <div class="col col-2 m1 py3 center border bg-lighter-gray rounded">Avatar
					 </div>
					 <div class="col col-8 ml2 py1 bg-lightgray mb3">
					 		<span class="h2"><%= current_user.first_name %><br> <%= current_user.last_name %></span><br>
					 		<span class="h6"><%= current_user.headline %></span>
					 </div>
					<div class="col col-8 px1 mr1 mb1 justify"><b><%= current_user.summary %>
					</div>
					 <div class="col col-12"><%= link_to "Linkedin", current_user.public_profile_url %>
					 </div>
		</div>
		
	</div>
</div>
<script src="https://apis.google.com/js/platform.js" async defer></script>
